{% extends "base_2.html" %}
{% load static %}
{% block title %}Lista de clientes{% endblock %}

{% block content %}

<div class="container">

 <!-- Boton para abrir el modal -->
<p align="right">
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="justify-content:center;">
+Nuevo Cliente
</button>
</p>
<!-- The Modal -->
<div class="modal" id="myModal">
<div class="modal-dialog">
<div class="modal-content">

 <!-- Modal Header -->
 <div class="modal-header">
   <h4 class="modal-title">Nuevo CLiente</h4>
   <button type="button" class="close" data-dismiss="modal">&times;</button>

 </div>


 <!-- Modal body -->

 <div class="modal-body">

   <form action="#" method="POST">{% csrf_token %}
<div class="form-group">
<label for="nombres">Nombres</label>
<input type="text" class="form-control" id="nombres" name="nombres" placeholder="Ingresa el Nombre">
</div>
<div class="form-group">
<label for="apellidos">Apellidos</label>
<input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Ingresa el Apellido">
</div>
<div class="form-group">
<label for="direccion">Direccion</label>
<input type="text" class="form-control" id="direccion"  name="direccion" placeholder="Ingresa la Direccion">
</div>
<div class="form-group">
<label for="nit">NIT</label>
<input type="text" class="form-control" id="nit" name="nit"  placeholder="Ingresa NIT">
</div>
<input type="hidden" class="form-control" id="crear" name="crear"  value="crear">


<button type="submit" class="btn btn-primary">Guardar</button>
</form>
 </div>

 <!-- Fin del Modal -->


 <div class="modal-footer">
   <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
 </div>

</div>
</div>
</div>

{% if datos_a_editar %}
         <script type="text/javascript">
           $(window).on('load',function(){
               $('#myModalEditar').modal('show');
           });

         </script>
<!-- The Modal -->
<div class="modal" id="myModalEditar">
<div class="modal-dialog">
<div class="modal-content">

 <!-- Modal Header -->
 <div class="modal-header">
   <h4 class="modal-title">Editar CLiente</h4>
   <button type="button" class="close" data-dismiss="modal">&times;</button>
 </div>

 <!-- Modal body -->
 <div class="modal-body">
    <form action="#" method="POST">{% csrf_token %}
<div class="form-group">
<label for="nombres">Nombres</label>
<input type="text" class="form-control" id="nombres" name="nombres" value="{{datos_a_editar.nombre}}" placeholder="Ingresa el Nombre">
</div>
<div class="form-group">
<label for="apellidos">Apellidos</label>
<input type="text" class="form-control" id="apellidos" name="apellidos" value="{{datos_a_editar.apellidos}}" placeholder="Ingresa el Apellido">
</div>
<div class="form-group">
<label for="direccion">Direccion</label>
<input type="text" class="form-control" id="direccion"  name="direccion" value="{{datos_a_editar.direccion}}" placeholder="Ingresa la Direccion">
</div>
<div class="form-group">
<label for="nit">NIT</label>
<input type="text" class="form-control" id="nit" name="nit" value="{{datos_a_editar.nit}}"  placeholder="Ingresa NIT">
</div>
<input type="hidden" class="form-control" id="editar_datos" name="editar_datos"  value="editar_datos">
<input type="hidden" class="form-control" id="id_editar" name="id_editar" value="{{datos_a_editar.id}}">
<input type="hidden" class="form-control" id="editar" name="editar" value="editar">

<button type="submit" class="btn btn-primary">Editar</button>
</form>
 </div>




 <div class="modal-footer">
   <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
 </div>

</div>
</div>
</div>
<!-- Fin del Modal -->
{% endif %}
<br>
<table class="table" id="clients">

<thead>
 <tr>
   <th>Nombres</th>
   <th>Apellido</th>
   <th>Dirección</th>
   <th>NIT</th>
   <th>Acciones</th>
   <th></th>


 </tr>
</thead>
<tbody>
 {% for x in listado_clientes %}
 <tr>
   <td>{{x.nombre}}</td>
   <td>{{x.apellidos}}</td>
   <td>{{x.direccion}}</td>
   <td>{{x.nit}}</td>
   <td>
     <form action="." method= "POST">{% csrf_token %}
               <button type="submit" class="btn btn-outline-success">
                   <input type="hidden" class="form-control" id="id_editar" name="id_editar" value="{{x.id}}">
                   <input type="hidden" class="form-control" id="editar" name="editar" value="editar">
                   <span class="glyphicon glyphicon-pencil"> </span>&nbsp;Editar
               </button>
           </form>

   </td>
   <td>
      <form action="" method= "POST">{% csrf_token %}
               <button type="submit" class="btn btn-outline-danger">
                   <input type="hidden" class="form-control" id="id_eliminar" name="id_eliminar" value="{{x.id}}">
                   <input type="hidden" class="form-control" id="eliminar" name="eliminar" value="eliminar">
                   <span class="glyphicon glyphicon-pencil"> </span>&nbsp;Eliminar
               </button>
           </form>
   </td>

 </tr>
 {% endfor %}

</tbody>
</table>


</div>

{% block script %}
  <script>

  $(document).ready( function () {
  $('#clients').DataTable();
  } );

  </script>
{% endblock %}

{% endblock %}
