{% extends "base.html" %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}
<div class="">
   <h1>Multiservicios Lemus</h1>
   <br>
   <br>
   <br>
   <h3>Misión</h3>
   <h4>Ser lider en la venta de respuestos y talleres em eñ area chorti</h4>
 </div>
 <br>
 <br>
 <div class="">
   <h3>Visión</h3>
   <h4>Distribuir repuestos en toda el area chorti y teenr los talles con pinturas y portonoes
     con estilos innovadores
   </h4>
 </div>
 <br>
 <br>
 <div class="">
   <h3>Valores</h3>
   <h4>Responsabilidad</h4>
   <h4>Trabajo en equipo</h4>
   <h4>Honestidad</h4>
   <h4>Pasión</h4>
 </div>
{% endblock %}
