{% extends "base.html" %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container">

   <div class="row justify-content-center align-items-center" style="height:70vh">
       <div class="col-4">
           <div class="card">
               <div class="card-body">
                 <div class="row justify-content-center align-items-center">
                   <br>
                     <img src="{% static 'img/iniciar_sesion.png' %}" height="50" width="50" id="icon" alt="User Icon" />
                   </div>
                   <br>
                   <form action="" method="post">
                      {% csrf_token %}
                       <div class="form-group">
                           <h6>Usuario:</h6>
                           <input type="text" class="form-control" name="username" >
                       </div>
                       <div class="form-group">
                           <h6>Contraseña:</h6>
                           <input type="password" class="form-control" name="password" >
                       </div>
                       <button type="submit" class="btn btn-primary">login</button>
                   </form>
               </div>
           </div>
       </div>
   </div>
</div>
{% endblock %}
